// Colors
$primary_color: #B39CD0;
$dark_color: #845EC2;
$light_color: #FBEAFF;
$accent_color: #00C9A7;

// $primary_color: #fec81e;
// $dark_color: #333;
// $light_color: #eee;
// $accent_color: #4B4453;